body {
    background-color: bisque;
}
header {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    background-color: rgb(187, 168, 144);
    color:white
}
h1 {
    display: inline-block;
    margin-left: 10px;
}
.nav {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float:right;
    padding-top: 40px;
    margin-right: 10px;
    
}
.nav li {
    list-style-type: none;
    display: inline-block;
    padding-left: 80px;

}