body {
    background-color: bisque;
    
}
header {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(187, 168, 144);
    align-items: center;
    display:flex;
    justify-content: space-between;
    color:white;
    padding:1%;
}
h1 {
    font-size: 50px;
    
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
}
nav a {
    color:white;
    
}

